* {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-decoration: None;
}

QTabBar::tab {
    background-color: #000000;
    color: #0EAEF8;
    border: 0.5px solid #0EAEF8;
    border-radius: 5px;
    font-size: 15px;
    margin: 1px;
    padding: 4px;
}

QTabBar::tab:selected {
    background-color: #0EAEF8;
    color: #000000;
    border: 0.5px solid #0EAEF8;
    border-radius: 5px;
    font-size: 15px;
    margin: 1px;
    padding: 4px;
}

QWidget {
    background-color: #000000;
    color: #0EAEF8;
    border: None;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    font-weight: small;
}

QWidget::selected {
    background-color: #0EAEF8;
    color: #000000;
    border: None;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: small;
}

QMenu {
    background-color: #000000;
    color: #0EAEF8;
    border: None;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

QVBoxLayout {
    background-color: #000000;
    color: #0EAEF8;
    border: None;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

QCheckBox {
    background-color: #000000;
    color: #0EAEF8;
    border: none;
    font-size: 14px;
}

QCheckBox::indicator {
    border: 0.5px solid #0EAEF8;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    margin: 0;
}

QCheckBox::indicator:checked {
    background-color: #0EAEF8;
}

QCheckBox::checked {
    color: #0EAEF8;
}

QLabel {
    background-color: #141414;
    color: #0EAEF8;
    border: None;
    font-size: 16px;
    margin: 0;
    padding: 3px;
    font-weight: small;
}

QComboBox {
    background-color: #000000;
    color: #0EAEF8;
    border: None;
    font-size: 18px;
    margin: 0;
    padding: 3px;
    font-weight: small;
}

QMenuBar {
    background-color: #000000;
    color: #0EAEF8;
    border: None;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

QStatusBar {
    background-color: transparent;
    color: #0EAEF8;
    border: None;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

QToolBar {
    background-color: #000000;
    color: #0EAEF8;
    border: None;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

QMainWindow {
    background-color: transparent;
    color: #0EAEF8;
    border: 0.5px solid #0B5378;
    border-radius: 0px;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

QLineEdit {
    background-color: #000000;
    border: 0.5px solid #0B5378;
    border-radius: 0px;
    font-size: 15px;
    margin: 1px;
    padding: 4px;
}

QPushButton {
    background-color: #000000;
    border-radius: 0px;
    font-size: 15px;
    margin: 1px;
    padding: 4px;
}

QTabWidget {
    background-color: #000000;
    color: #0B5378;
    border: None;
    border-radius: 0px;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

QWebEngineView {
    color: #0EAEF8;
    font-weight: bold;
    background-color: #000000;
    font-size: 10px;
}
